.color2{
	background:#339933; green
}
.color3{
	background:#F09609; orange
}
.color4{
	background:#8CBF26; lime
}
.color5{
	background:#A200FF; purple
}
.color6{
	background:#A05000; brown
}
.color7{
	background:#00ABA9; teal
}
.color8{
	background:#FF0097; magenta
}
.color9{
	background:#E51400; red
}
